
<h1>Control Panel</h1>

<ul>
<li><%= link_to "New Client", new_client_path %></li>
<li><%= link_to "Client Database", clients_path %></li>
<li>Schedule Manager - <i>Coming Soon</i></li>
<li>Financial Records - <i>Coming Soon</i></li>
</ul>